@model Core.Entities.ViewModel.ViewModels  

<!-- ======= hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">

      <h1><span style="font-weight:lighter">OUR THOUGHTS</span> CHANGE THE FUTURE</h1>
      <h2 style="color: #e1251b;">YOUR JOURNEY STARTS HERE</h2>   
      <p class="animate__animated animate__fadeInUp hero1p">We are a multinational agency that thrives in the space and an experienced and independent partner in business strategy. We are accelerating the vision of tomorrow through our expertise and professionals. We provide services that go beyond traditional business strategies with innovative, original and impactful strategies high level.</p>     
      <a href="#getstarted" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="/assets/img/BackgroundAboutNew.png" class="img-fluid" alt="" >
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h1 style="color:#e1251b;font-weight: bold;">DISCOVER WHY</h1>
            <h3>THE LARGEST COMPANIES TRUST US ..</h3>

            <p  style="text-align: justify;">
                <strong>We really know our business in the status quo and never get complacent about it, 
                But we've traveled to space because we always want to maximize your dreams and ideas.</strong>
            </p>

            <p style="text-align: justify;" >
                We are a multinational, encompassing service agency specializes in building, growing and nurturing innovative and creative businesses with 
                our boundless enthusiasm and known for our creative strategy as an agency that puts experience and spirit (and a little bit of craziness) into everything we do. 
                We are a colorful creative hub where talented and experienced creators, copywriters, storytellers, art directors, designers, bloggers, developers, influencers, 
                strategic and tech thinkers meet.
            </p>
            <p style="text-align: justify;" >
                We do the best ever with strong customer collaboration, strong strategy all valued through our complete system where we start with 
                the customer from the starting point of establishing his business in terms of planning, purchasing and analyzing his services to growth in business and wealth. 
            </p>
          </div>
        </div>
          <div >
               <p style="text-align: justify;" class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                   <br />
                We are careful and persistent to achieve our vision of being one of the most recognizable agencies in the world, and we know that this can only be achieved through dedication 
                and the best quality of service to our clients.
               </p>
            <p style="text-align: justify;" class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                Our approach is simple. We become the strategic partner of the brand we represent through understanding, empathy and synergy, we consider all aspects of the business 
                from the customer’s standing today to his goals in the future. It also allows us to expand comprehensive strategies and action plans that are translated across all relevant
                touch points and channels - whether traditional or contemporary, offline or online and on the ground or private and behind the scenes.
            </p>
            <p style="text-align: justify;" class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                Our mantra is a culture of growth and happiness. We work as hard as much as we play, and encourage our team to make the most of their lives both in and out of work. 
                Provided it is never a detriment to the team or our clients, everyone is given the freedom to manage themselves like the highly competent and confident people that they are.            
            </p>  
          </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Awards Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up">
            <div class="box">
                <img src="/assets/img/MajesticAgencyAwards1.png" style="width: 100%;transform: scale(1.5);"/>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
                <img src="/assets/img/MajesticAgencyAwards2.png" style="width: 100%;transform: scale(1.5);"/>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
                <img src="/assets/img/MajesticAgencyAwards3.png" style="width: 100%;transform: scale(1.5);"/>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Awards Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

     <!-- ======= hero1 Section ======= -->
     <section id="hero1" class="d-flex align-items-center">
       <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">

         <h1>DREAM. CREATE. INSPIRE</h1>
         <h2 style="color: #e1251b;"><span style="font-weight:lighter">WHAT WE DO TO HELP YOU</span> REACH YOUR GOALS ?</h2>
         <h4 style="color:white">WE DO IT ALL, YOUR PARTNER FOR ALL THINGS,<br /> AND DO IT EXCEPTIONALLY WELL.</h4>
         <p class="animate__animated animate__fadeInUp hero1p">
             It is a first-class multinational agency and one of the few in the world (America, Europe, GCC and The Middle East). Our approach to each project entails forming a 
             team of professionals with diverse skills who can provide a wide range of comprehensive services and integrated solutions that we leverage to achieve your business goals 
             and achieve unprecedented growth. Our approach includes research and analysis in order to create a unique name, creative ideas, establish a strong presence and create a presence 
             in the market that maintains customer loyalty.
         </p>     
         <a href="#getstarted" class="btn-get-started scrollto">Get Started</a>
       </div>
     </section><!-- End hero1 -->
      <div class="container" data-aos="fade-up" data-aos-delay="500">

        <div class="section-title">
          <h3 >WHAT YOU WILL GET !</h3>
          <h3 style="color: #e1251b;">MAKING YOUR <strong>BUSINESS IDEAS COME TRUE</strong></h3>
        </div>

        <div class="row">
            @foreach (var item in Model.Services)
           {
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><img class="test" src="@item.Logo" style="transform: scale(.05);"/></div>
              <h4>@item.Name</h4>

              <div>
               <p>@item.ShortDescription<br /> <br /><a asp-controller="Home" asp-action="ServiceDetails" asp-route-id="@item.Id">Read More...</a></p>

              </div>
            </div>
          </div>               
           }
        </div>
      </div>
    </section><!-- End Services Section -->


        <!-- ======= Clients Section ======= -->
@*    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="row d-flex align-items-center">

          <div class="col-lg-2 col-md-4 col-6">
            <img src="/assets/img/clients/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="/assets/img/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="/assets/img/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="/assets/img/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="/assets/img/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="/assets/img/clients/client-6.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section>*@<!-- End Clients Section -->

    <!-- ======= Portfolio Section ======= -->
@*    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <span>Portfolio</span>
          <h2>Portfolio</h2>
          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
              <a href="/assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="/assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="/assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="/assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <a href="/assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="/assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 2</h4>
              <p>Card</p>
              <a href="/assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="/assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 2</h4>
              <p>Web</p>
              <a href="/assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="/assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <a href="/assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="/assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
              <a href="/assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="/assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Card 3</h4>
              <p>Card</p>
              <a href="/assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="/assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section>*@<!-- End Portfolio Section -->

    <!-- ======= Pricing Section ======= -->
@*    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <span>Pricing</span>
          <h2>Pricing</h2>
          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="150">
            <div class="box">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li class="na">Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in">
            <div class="box featured">
              <h3>Business</h3>
              <h4><sup>$</sup>19<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
            <div class="box">
              <h3>Developer</h3>
              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>*@<!-- End Pricing Section -->

    <!-- ======= Team Section ======= -->
@*    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <span>Team</span>
          <h2>Team</h2>
          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="/assets/img/team/team-1.jpg" alt="">
              <h4>Walter White</h4>
              <span>Chief Executive Officer</span>
              <p>
                Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="/assets/img/team/team-2.jpg" alt="">
              <h4>Sarah Jhinson</h4>
              <span>Product Manager</span>
              <p>
                Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="/assets/img/team/team-3.jpg" alt="">
              <h4>William Anderson</h4>
              <span>CTO</span>
              <p>
                Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>*@<!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

            <div class="section-title" data-aos="fade-up" data-aos-delay="500">
          <h3 >WANT TO FIND OUT MORE?</h3>
          <h3 style="color: #e1251b;">WE REACH OUT <strong>WHEREVER YOU ARE</strong></h3>
          <p >Interested in learning more about how our team of experts can build and grow your business, solve the business ans challenges and keeping you up at. We have broadened our horizons and reached out to clients across the globe. we are confident with our expertise and works speaks for us.</p>
        </div>

    <section id="cta" class="cta" style="margin-bottom: 75px;">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Get in touch with us?</h3>
          <p>Email: info&#64;<strong>majesticagency</strong>.net <br />Follow us: &#64;<strong>agencymajestic</strong></p>

          <div class="social-links mt-3">
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-behance"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-youtube"></i></a>

          </div>
        </div>
      </div>
    </section>



        <div class="row" data-aos="fade-up">
          <div class="col-lg-4 col-md-6">
              <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>United Kingdom, London Office</h3>
              <p>+44 20-3449-8300</p>
              <a href="https://goo.gl/maps/X1DgdVApM865J9cR8"><p>Landmark Office Space, 111 Park St, London W1K 7JF, UK</p></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
              <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>USA, Los Angeles Office</h3>
              <p>+1 213-275-3956</p>
              <p><a href="https://goo.gl/maps/Jet8xsoUhAuKXdcj7">801 S Olive St, Los Angeles, CA 90014, USA</a></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
              <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Canada, Ottawa Office</h3>
              <p>+1 613-823-1670</p>
              <p><a href="https://goo.gl/maps/2SE3jcH25Qsj13sR6">Churchill Park, 1600 Carling Ave, Ottawa, ON K1Y 1B2, Canada</a></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
              <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Jordan, Amman Office</h3>
              <p>+962 78-977-8424</p>
              <a href="https://goo.gl/maps/JT6YR4DtXBtJySux5"><p>Bulding 23, King Hussein Business Park, Amman, Jordan</p></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
              <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>UAE, Abu Dhabi Office</h3>
              <p>+971 2-856-2576</p>
              <a href="https://goo.gl/maps/Wjui6uiP981Q73GNA"><p>Moon Tower, Zayed First St, Al-Khalidiyah, Abu Dhabi, UAE</p></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
              <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>KSA, Riyadh Office</h3>
              <p>+966 53-037-4534</p>
              <a href="https://goo.gl/maps/bmUTCkQLUvEhVPzw6"><p>Ejadah Business Park, Al-Thoumamah Rd, Riyadh, KSA</p></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
              <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Qatar, Doha Office</h3>
              <p>+974 4483-8235</p>
              <a href="https://goo.gl/maps/NSCkbc4fHdPq1eGd8"><p>Twin Tower - Building A, Al-Khalidiya St, Doha, Qatar</p></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
              <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Iraq, Baghdad Office</h3>
              <p>+964 771-605-3464</p>
              <a href="https://goo.gl/maps/X6BZ2wiN85KXEx8R6"><p>CoWork - BGD Tower, Al-Mamun St, Baghdad, Iraq</p></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
              <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Egypt, Cairo Office</h3>
              <p>+20 2-27547249</p>
              <a href="https://goo.gl/maps/suJsHGUY11BPdoW16"><p>IST Business Park, St 204, Maadi, Cairo, Egypt</p></a>
            </div>
          </div>



        </div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======= GET STARTED Section ======= -->

    <section class="getstarted" id="getstarted">
      <div class="container">
       <div class="row" data-aos="fade-up">
        <div style="text-align:center">
          <h3 style="color: #e1251b;">READY TO  <strong>GET STARTED?</strong></h3> 
          <p style="margin-bottom: 5%;">Fill out the form and we'll get back to you as soon as possible.</p>
        </div> 

          <div class="col-lg-12">
                    <form class="php-email-form" asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data">
              <div class="row">
                            <label style="font-size: 15px;color: #444444;font-weight: 700;margin: 10px 0;">Who shall we contact?</label>
                <div class="col-md-3 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="First & Last Name" required asp-for="@Model.Order.FullName">
                </div>
                <div class="col-md-3 form-group mt-3 mt-md-0">
                 <input type="text" class="form-control" name="name" id="name" placeholder="Company Name" required asp-for="@Model.Order.CompanyName">
                </div>
                <div class="col-md-3 form-group mt-3 mt-md-0">
                 <input type="email" class="form-control" name="email" id="email" placeholder="Email Address" required asp-for="@Model.Order.Email">
                </div>
                <div class="col-md-3 form-group mt-3 mt-md-0">
                <input type="tel" class="form-control" name="name" id="name" placeholder="Phone Number" required asp-for="@Model.Order.PhoneNumber">
                </div>
              </div>
              <div class="row">
              <div class="form-group mt-3 col-md-6">
                                <label style="font-size: 15px;color: #444444;font-weight: 700;margin: 10px 0;">How can we help you?</label>
               <input type="text" class="form-control" name="subject" id="subject" placeholder="Tell us about the project or problem you need to solve" required asp-for="@Model.Order.ProblemDomainOfProject">
              </div>

              <div class="form-group mt-3 col-md-6">
                                <label style="font-size: 15px;color: #444444;font-weight: 700;margin: 10px 0;">What services do you need?</label>
                 @Html.DropDownListFor(model => model.Order.Id, new SelectList(Model.Services, "Id", "Name"),
                                "Select Service", new { @class = "form-control", @style="color: #90979d;font-size: 14px;padding: 0.6rem 0.75rem;border-radius:0;box-shadow: none;" })


              </div>
              </div>

              <div class="row">
              <div class="form-group mt-3 col-md-3">
                                <label style="font-size: 15px;color: #444444;font-weight: 700;margin: 10px 0;">How did you discover us?</label>
                    <select class="form-control" style="color: #90979d;font-size: 14px;padding: 0.6rem 0.75rem;border-radius:0;box-shadow: none;">
                                    <option disabled selected>Select how know us</option>
                    <option>Client work us</option>
                    <option>The world wide web</option>
                    <option>Social media</option>
                    <option>Premonition</option>
                </select>
              </div>
              <div class="form-group mt-3 col-md-3">
                                <label style="font-size: 15px;color: #444444;font-weight: 700;margin: 10px 0;">What is your timeline?</label>
                <input type="date" class="form-control" name="date" id="date"  required>
              </div>

              <div class="form-group mt-3 col-md-6">
                                <label style="font-size: 15px;color: #444444;font-weight: 700;margin: 10px 0;">What is your budget?</label>
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Your budget will help us decide on the right solution for your project" required>
              </div>
              </div>

              <div class="row" style="margin-top: 1.3%;">

                            <label style="font-size: 15px;color: #444444;font-weight: 700;margin: 10px 0;">Would you share some examples that compare to your project goals?</label>
            <div class="input-group mb-3 ">
              <span class="input-group-text" id="basic-addon3">https://example.com/</span>
              <textarea type="text" class="form-control" rows="1" placeholder="Enter link to websites, social media pages, videos, or other examples....." required></textarea>
            </div>

              </div>


            <div class="mb-3">
                            <label style="font-size: 15px;color: #444444;font-weight: 700;margin: 10px 0;">Attachments:</label>
              <input class="form-control form-control-sm" id="formFileSm" type="file">
            </div>

              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your order has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">SUBMIT</button></div>
            </form>
          </div>

        </div>
        </div>
    </section> 
  </main><!-- End #main -->
